/********************/
/*  GENERAL STYLES  */
/********************/
*, *:before, *:after  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/********************/
/*  ELEMENT STYLES  */
/********************/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/******************/
/*  CLASS STYLES  */
/******************/
.background {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url("../assets/bg.jpg");
   background-repeat: no-repeat;       
   background-size: cover;
   height:100%;
   width:100%;
 }

 .btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    color:#fff;
    text-align: center;
    font-family: inherit;
    font-size: .9em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border: 0;
    cursor: pointer;
    background: #30788b;
    border-bottom: 2px solid #276272;
    -webkit-box-shadow: inset 0 -2px #276272;
    box-shadow: inset 0 -2px #276272;
    outline: none;
    border-radius: 20px;
    width: 100px;
    margin: 20px;
    transition: all 0.5s ease;
}
.btn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.controls {
    margin: 30px auto;
    width: 300px;
}

.main{
    height:300px;
    width:768px;
    min-width: 768px;
    margin:auto;
    position: relative;
    top: 57%;
    transform: translateY(-50%);
}

.social {
    width: 40px;
    margin-right: 3px;
    position: absolute;
    right: 0;
}

.social > a > img {
    height: 35px;
    width: 30px;
}

.social > a {
    padding: 0 10px;
    vertical-align: middle;
    text-decoration: none !important;
}






